* {font-family: Futura,'PT Sans',Trebuchet MS,Arial,sans-serif; }
@media screen and (max-width: 768px) {
   
  #fh5co-header .navbar-brand {
    color: #0e529f !important;
  } 
  #fh5co-header #navbar li a:hover {
    color: #0e529f !important;
  } 
  #fh5co-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #0e529f !important;
  } 
} 
#fh5co-header.navbar-fixed-top .navbar-brand {
  color: #0e529f;
} 
#fh5co-header.navbar-fixed-top #navbar li a:hover {
  color: #0e529f;
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #0e529f;
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #0e529f;
} 
#fh5co-header .navbar-default .brand-slogan em {
  color: #0e529f;
  font-style: normal;
} 
#fh5co-home {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-color: #0e529f;
  color: #fff;
  overflow: hidden;
}
#fh5co-home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: .9;
  -webkit-backface-visibility: hidden;
  background-color: #0e529f;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #0e529f));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #0e529f 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #0e529f 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #0e529f 100%);
} 
#fh5co-intro .fh5co-block > .fh5co-text .fh5co-intro-icon {
  font-size: 50px;
  color: #0e529f;
  margin-bottom: 30px;
  display: block;
} 
#fh5co-intro .fh5co-block:hover .btn:hover, #fh5co-intro .fh5co-block:focus .btn:hover {
  background: #0e529f !important;
  border: 2px solid #0e529f !important;
}
 
.watch-video .btn-video {
  display: block;
  font-size: 60px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border: 2px solid #0e529f;
  line-height: 0px;
  display: table;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
} 
#fh5co-services { background: #fff; background-color:#fff; }
.fh5co-text:nth-of-type(4n+1), .fh5co-service:nth-of-type(2n+1) {
  clear: both;
}
#fh5co-services *, #fh5co-services .icon:before, #fh5co-services h3, #fh5co-services .section-heading h2 {
  color:#2569ad;  
}
#fh5co-services .section-heading h2 { text-align: center;}
#fh5co-contact .section-heading, #fh5co-services .section-heading, #fh5co-about .section-heading  { margin:0; padding:0;}
#fh5co-services h3 { border-bottom: 10px solid #0e529f; font-size: 3rem; padding: .5rem 0;}
#fh5co-services h4 { font-size: 2rem; font-weight: 600; margin-bottom:.5rem;}
#fh5co-services p { text-align:left;}
@media (min-width: 768px) { 
  #fh5co-services p { padding-left: 3rem; padding-right: 3rem;}
}
.navbar-collapse { border-top: 0;}
#fh5co-services2, #fh5co-contact {
  background-color: #0e529f;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #0e529f));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #0e529f 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #0e529f 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #0e529f 100%);
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
} 
#fh5co-contact * { color:#fff;}
#fh5co-contact input, #fh5co-contact textarea, #fh5co-contact .form-control { border-color:#fff; border: 1px solid #fff; color:#fff;}

#fh5co-counters {
  background: #0e529f;
  overflow: hidden;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  padding: 9em 0 10em 0;
} 
#fh5co-counters .fh5co-counter .fh5co-counter-icon {
  font-size: 40px;
  color: #0e529f;
} 
#fh5co-testimonials .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 30px;
  background: #fff;
  background: #0e529f;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
#fh5co-testimonials .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 10px solid black;
  border-top-color: #fff;
  border-top-color: #0e529f;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
} 
#fh5co-testimonials .box-testimony .author a {
  color: #0e529f;
} 

#fh5co-work {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #0e529f;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #0e529f));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #0e529f 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #0e529f 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #0e529f 100%);
} 
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #0e529f;
}
 
.section-heading h2.left-border:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #0e529f;
  left: 0%;
  margin-left: 0px;
  bottom: 0;
}
.section-heading h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #0e529f;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
} 
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #0e529f;
} 
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #0e529f;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #0e529f;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #0e529f;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
 
.btn.btn-primary {
  background: #0e529f;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #0e529f;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
} 
.social li a.social-box {
  background: #0e529f;
  color: #fff;
}
.social li a.social-circle {
  background: #0e529f;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #0e529f;
  color: #fff;
}
.social.social-circle a {
  background: #0e529f;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
 

#fh5co-intro { padding-bottom: 1em;}
#fh5co-intro .fh5co-block, #fh5co-intro .row { width: 100%; font-size: 2rem; font-weight: 400;} 
#fh5co-intro .row { width: 80%; margin:0 auto; }
#fh5co-intro .fh5co-block  {
  min-height: auto;
  border-top: 10px solid #0e529f;
  border-bottom: 10px solid #0e529f;
  color:#ed2024 !important;
  font-weight: 600;
  background:rgba(255, 255, 255, 0.85);
}
#fh5co-intro blockquote {
  border-left:0;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color:#ed2024
}
#fh5co-intro blockquote:before { 
  content: "\201C"; 
}
blockquote:after {

  content:"\201D";
  
  }
  #fh5co-intro blockquote:before, #fh5co-intro blockquote:after { font-size: 2rem;}
#fh5co-intro blockquote p {
  display: inline;
} 

#fh5co-services, #fh5co-testimonials, #fh5co-counters, #fh5co-work, #fh5co-contact, #fh5co-about {font-size: 2rem; font-weight: 400;}
body, .section-heading h3 { color: #333; font-weight: 400;}
* { box-sizing: border-box}
a { color:#0e529f;}
#fh5co-header #navbar li a:hover { color: #11447d;}
.navbar-brand img { max-width: 300px; height: auto;}

#fh5co-header { background:#fff; padding: 1rem 0; margin-top:0;} 
#fh5co-header #navbar li a, #fh5co-header #navbar li.active a {color:#0e529f}
#fh5co-header #navbar li.active a { font-weight:400;} 
#fh5co-home .gradient { opacity: .1; visibility: visible;}
#fh5co-home {
  background-position: center !important;
}
@media (min-width: 768px) {
  #fh5co-home {
    background-position: 40% !important;
  }
  #fh5co-intro .row { width: 60%;}
}
#fh5co-home .text-inner h2 { 
  background: rgba(0, 68, 119, 0.67);
  padding: 10px;
  text-align: left;
}

.logo-xs, .navbar-fixed-top .logo-sm { display:none;}

.navbar-fixed-top .logo-xs, .navbar-collapse.in .logo-xs { display:block;}
#fh5co-intro .row-bottom-padded-lg { padding-bottom:0;}

.panel-default > .panel-heading {
  background: transparent;
}
.panel-body {
  font-size: 1.6rem;
}
.panel {
  background: transparent;
  border: 0;
}
.panel h4 {
  color: #0e529f; font-size: 2rem; 
}
a:hover, a:active, a:focus {
  color: #ed2024;
  outline: #0e529f;
}
#footer { color:#585858;padding-bottom: 0;}
footer small {
  font-size: 1.2rem;
} 
  
.slant, #fh5co-work:before, #fh5co-work:after { height:0;}

@media (max-width: 991px) and (min-width: 768px) {
  #fh5co-header #navbar li a {
    padding-left:7px;
    padding-right:7px;
  }
}
img { max-width: 100%; height: auto;}
a {
  word-wrap: break-word;
}
.ipadonly {
  padding: 10px;
  position: absolute;
  top:50px;
  display:none;
}
.isIpad .ipadonly{ display:block;}
.isIpad #fh5co-home {
  background-image: none !important;
}
.isIpad #fh5co-home .text-inner { padding-top: 80px;}

@media (max-width: 570px) {
  .ipadonly { top: 200px;}
  .isIpad #fh5co-home .text-inner {padding-top:200px;}
}