	<section id="fh5co-work" data-section="work">
		<div id="community" class="container">
        <p class="refp">Metzger for Clerk and Recorder<br/>4 Park Plaza, Bozeman MT 59715</p>
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</h2>
					
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
			{{ range .Site.Params.work.row }}
				<div class="col-md-3 col-sm-6 col-xs-12 fh5co-text"> 
						<div class="">
						<p><strong>{{ .title }}</strong><br/>{{ .subtitle }}</p>
						</div> 
				</div>				
 
			{{ end }}
			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">
					<p>{{ .Site.Params.work.footertext | markdownify }}</p>
				</div>
			</div>
		</div>
	</section>
